@import './../../styles.scss';

.player-frame {
left: 0;
top: 0;
@include dFlex($jc:flex-start, $ai:center);
@include gold-bgr();
@include frameStyle($w: 120px, $h:auto);
margin: 12px;
padding: 12px;
}

.player-active {
    @include gold-bgr($baseColor: $base-gold, $shadeAmount: 30%);
}

.header {
    position: relative;
    width: 100%;
    @include dFlex();
}

.player-box { 
    width: 100%;    
    @include dFlex($fd:row, $jc:flex-start);
   
    span {
        margin-left: 8px;
        width: max-content;
        text-align: center;
    }
    img {
        position: relative;
        left: 5px;
        width: 30px;
        margin-right: 2px;
    }
}