<div class="main-game-section">
    <div class="player-group-frame">
        <div class="add-btn-frame">
            <button mat-fab color="primary" (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="scroll-container">
            <p>next Player is: </p>
            <!--Variable[name] is sending to sub-component app-player-->
            <ng-container *ngFor="let player of game.players; let i = index">
                <app-player class="player-frame" [ngStyle]="{'top.px': 80 + (i* 90)}"
                    *ngIf="!isSmallScreen || i == game.currentPlayerId" [playerActive]="i == game.currentPlayerId"
                    [name]="player">
                </app-player>
            </ng-container>
        </div>
    </div>


    <div class="btn-order-frame">
        <div class="btn-frame">
            <button mat-button (click)="openGoodbyeInfo()"><img src="assets/images/hand-by-gold-dark.png"
                    alt="close"></button>
        </div>
        <div class="btn-frame">
            <button mat-button (click)="openGoodbyeInfo()"><img src="assets/images/settings-gold-dark.png"
                    alt="setting"></button>
        </div>
    </div>

    <div class="cardboard-frame">
        <!-- last card played -->
        <div class="played-cards">
            <img *ngFor="let card of game.playedCards" src="assets/images/playing_cards/{{ card }}.png"
                alt="Played Card">
        </div>
        <!-- stack of cards -->
        <img *ngFor="let c of [1,2,3,4,5]; let i = index" [ngStyle]="{ 'left.px': i * 3,  'bottom.px': i * 1}"
            src="assets/images/playing_cards/card_cover.png" alt="cardStack">

        <!-- top card (backside) -->
        <img class="top-card" id="topCard" (click)="takeCard()" src="assets/images/playing_cards/card_cover.png"
            style="right:15px" alt="">

        <!-- animation -->
        <img *ngIf="game.pickCardAnimation" [ngStyle]="{ 'right.px': 15 }"
            src="assets/images/playing_cards/{{ currentCard }}.png" class="pick-card" alt="currentCard">
    </div>

    <div class="gameId-frame">
        <span>Copy ID <b>{{gameIdDisplay}}</b> for your friends.</span>
        <button mat-icon-button (click)="copyId(gameIdDisplay)">
            <mat-icon>content_copy</mat-icon>
        </button>
    </div>

    <app-game-info class="info-card" [card]="currentCard">
        Simple card
    </app-game-info>

</div>