@import './../../styles.scss';

.main-game-section {
    @include defSide();
    @include dFlex();
    background-color: aliceblue;
    background-image: url(./../../assets/images/backgrounds/wood2.png);
    @include mainBacking();
}

.goodby-btn-frame {
    z-index: 5;
    position: absolute;
    top: 32px;
    right: 30px;
    //border-bottom: 2px solid black;
    @include dFlex();
    @include btnStyle();
    @include gold-bgr();

    >a {
        @include aStyle();
    }

    @include dFlex();

    @media (max-width: 710px),
    (max-height:450px) {
        max-width: 25% !important;
        top: 12px;
        right: 12px;
    }
}

.add-btn {
    position: relative;
    width: 100%;
    height: 80px;
    //border-bottom: 2px solid $rich-gold;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    @include dFlex();

    button {
        @include gold-bgr;
        color: $dark-gold;
        border-radius: 100%;

        &:hover {
            filter: brightness(120%);
            transform: scale(1.1) translateY(-10%);
        }
    }
}

.player-group-frame {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 180px;
    height: 400px;
    padding: 5px;
    background-color: white;

    @include gold-bgr($baseColor: $brown-gold);
    @include frameStyle($w: 180px, $h: 400px);

    @media(max-width:700px), (max-height:450px) {
        max-height: 160px;
        top: 12px;

        .player-group-frame .player-frame:not(.player-active) {
            display: none;
        }
    }
}

.scroll-container {
    overflow-y: auto !important;
    position: absolute;
    top: 86px; //under button
    bottom: 5px;
    z-index: 4;
    //height: -webkit-fill-available;
}

.player-frame {
    width: auto;
}

.gameId-frame {
    position: absolute;
    bottom: 32px;
    right: 32px;
    @include btnStyle();
    @include gold-bgr();
    @include dFlex();

    // standard with text
    >*:not(button) {
        display: block;
    }

    // hide text
    @media (max-width: 700px),
    (max-height:450px) {
        >*:not(button) {
            display: none;
        }
    }
}

.cardboard-frame {
    position: absolute;
    @include defSide();

    img {
        position: absolute;
        width: 120px;
        left: 40% !important;
        bottom: 25% !important;
        transform: translateX(-10%) translateY(-10%) forwards;

        @media(max-width:700px), (max-height:450px) {
            width: 90px;
            left: 60% !important;
        }
    }
}

.top-card {
    position: absolute;
    left: 50% !important;
    bottom: 50% !important;
    cursor: pointer;
    transition: all 120ms ease-in;

    &:hover {
        filter: brightness(120%);
        transform: scale(1.1) translateY(-10%);
    }

    @media(max-width:700px), (max-height:450px) {
        bottom: 45%;
        left: 60%;
    }
}

.pick-card {
    transform: scale(1.5) translateY(-10%);
    animation: pick-card-animation 1.5s ease-in-out forwards;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1.0) translate(0, 0);
    }

    0% {
        transform: scale(1.2) translate(0, 0);
    }

    30% {
        transform: scale(1.4) translate(0, 0);
    }

    50% {
        transform: scale(1.1) translate(0, 0);
    }

    75% {
        transform: scale(1.0) translateX(50%) translateY(-150%) rotate(-10deg);
        /* opacity: 1;*/
    }

    100% {
        /* opacity: 0;*/
    }
}

@media (max-width: 700px),
(max-height: 450px) {
    .pick-card {
        animation: pick-card-animation-small 1.5s ease-in-out forwards;
    }
}

@keyframes pick-card-animation-small {
    0% {
        transform: scale(1.0) translate(0, 0);
    }

    100% {
        transform: scale(1.0) translateX(25%) translateY(-10%);
    }
}

.played-cards {
    position: absolute;
    left: 48%;
    bottom: 54%;
    rotate: -10deg;
    transform: translateX(-50%) translateY(-150%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img {
        /*animation: fadeIn 0.1s ease-in-out;*/
        width: 120px; // Oder eine passende Größe für die gespielten Karten
        margin: 5px; // Einen kleinen Abstand zwischen den Karten hinzufügen
    }

    @media (max-width: 710px),
    (max-height:450px) {
        left: 52%;
        bottom: 32%;
        rotate: -18deg;
        z-index: 2;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.info-card {
    position: absolute;
    left: 32px;
    bottom: 32px;
    width: auto;
    min-width: 120px;
    max-width: 240px;
    height: auto;
    background-color: wheat !important;
    border-radius: 10px;

    @media (max-width: 710px),
    (max-height:450px) {
        max-width: 30%;
        max-height: 40%;
        overflow: auto;
    }
}