

<div class="landing-page-section">
    <div class="btn-frame">
        <a mat-raised-button color="white" routerLink="/gameStart">Start a new Game!</a>
    </div>
    <div class="btn-frame">
        <mat-form-field appearance="fill">
            <mat-label>Game ID</mat-label>
            <input matInput [(ngModel)]="gameId">
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="joinGame()">Join with ID!</button>
    </div>
</div>

<!--


<div class="landing-page-section">
    <div class="btn-frame">
        <a href="gameStart">
            Start a new Game!
        </a>        
    </div>
</div>
-->
